<br>

<form accept-charset="UTF-8"   action="/sessions/create" method="post" />
	Email: <br><br>
	<input type="text" placeholder="Email" id="email" name="email" required autofocus/> <br><br>
	

	Password: <br><br>
	<input type="password"  placeholder="PASSWORD" id="password"
	name="password" required/ >

	<br><br>
	<button type="submit" name="commit" class="btn btn-success">Login</button> 

	 <a href="/sign_up" class="btn btn-danger" style="color:#fff">
    	Sign Up 
   </a>
</form>

