<div style="text-align:center">
	<h3 style="color:#123456;">Behavioral Profile of <%=@employee.user_name.capitalize%></h3>
</div>
<%= high_chart("pie", @pie) %>
<br><br>
<%= high_chart("my_id1", @h) %>
<br><br>

